doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
    link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    link(rel="stylesheet", href="/public/css/app.css")
  body 
    header 
      h1 Noom
      h2#ssul
    main
      div#welcome
        form
          input(placeholder="room name", required, type="text")
          button Enter room
      div#call
        div#myStream
          video#myFace(autoplay, playsinline, width="400", height="400")
          div(style="text-align:center")
            div
              button#mute Mute
              button#camera Turn Camera Off
            div
              button#ssulChange Sull Change
              button#pochaChange Pocha Change
            div 
              button#pochaExtension Pocha Extension
              button#pochaCheers Pocha Cheers
            div
              button#pochaExit Pocha Exit
          select#cameras
          video#peerFace1(autoplay, playsinline, width="200", height="200")
          video#peerFace2(autoplay, playsinline, width="200", height="200")
          video#peerFace3(autoplay, playsinline, width="200", height="200")
    //- socket.io 스크립트 추가.
    script(src="/socket.io/socket.io.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="/public/js/app.js")